<div class="container">
</br></br>
<div class="center">
<i class="fa fa-calendar fa-1x" aria-hidden="true"></i> Né le 25 / 11 / 1993 <br>
<i class="fa fa-map-marker fa-1x" aria-hidden="true"></i> Nice, France<br><br>
<a href="mailto:anthony.santo@hotmail.fr" class="teal-text text-accent-3" ><i class="fa fa-envelope fa-1x" aria-hidden="true"></i> anthony.santo@hotmail.fr</a><br><br>
</div>
</br></br>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Prénom</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Nom</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
	  <div class="input-field col s12">
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Message</label>
       </div>

	   
	   <button class="btn waves-effect waves-light" type="submit" name="action">Envoyer
			<i class="material-icons right">send</i>
		</button> 
    </form>
  </div>

  
 </div>