<div class="container">
<h5 class="center text-green">Développement Web et Application Mobile</h5>

<h5 class="text-red"> Formations</h5>
<div class="divider"></div>
<p><span class=""><b>DUT Informatique</b></span> <span class="text-lighten-2">|</span> <span class="">Université de Nice-Sophia Antipolis </span><br>
<i>2016</i></p>
<p><span class=""><b>Baccalauréat Scientifique</b></span>  <span class="text-lighten-2">|</span> <span class="">Nice </span><br>
<i>2013 | Option Sciences de l'ingénieur (SI)</i></p>

<h5 class="text-red"> Informatique</h5>
<div class="divider"></div>
<p><span class=""><b>Développement Mobile</b><br>
Java/Android</p>
<p><span class=""><b>Développement Web</b><br>
HTML, CSS, JavaScript, JQuery, PHP, SQL, JSON, CMS Wordpress, SPIP</p>
<p><span class=""><b>Logiciels</b><br>
Android Studio, Eclipse, XCode, Microsoft Visual Studio, MySQL, phpMyAdmin</p>
<p><span class=""><b>Langues</b><br>
Anglais (Professionnel), Espagnol (Notions de base)</p>
<h5 class="text-red"> Expériences</h5>
<div class="divider"></div>
<p><span class=""><b>Développement Web</b> <span class="grey-text text-lighten-2">|</span> <span class="">Juillet 2016 - 2017 </span><br>
Minerall Group. Agence web et communication - Antibes</p>
<h5 class="text-red"> Centres d'Intérêts</h5>
<div class="divider"></div>
<p>Pratique du football, autres sports occasionnellement.  </p>
</div>