.hidden {
	visibility : hidden;
	height: 0;
}

.brand-chill{
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	text-transform: uppercase;
	text-transform: none !important;
	color:black;
}
.brand-coding{
	font-weight: 700;
}
.brand-o{
	color: #35E0B4;
}
.brand-chill:hover{
	text-decoration: none;
	color: #00274a;
}

.text-red{
	color: #ee6e73;
}

.back-red{
	background-color: #ee6e73;
}

.text-green{
	color: #1de9b6;
}

.back-green{
	background-color: #1de9b6;
}


html{
	color: #ffffff;
}

body{
	background: #333;
}